$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-dark: #CDCDCD;
$color-darkest: #292929;
$color-title: #545454;
$color-text: #4C4C4C;
$color-subscription: #B2B2B2;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;

$font-title: Georgia, 'Times New Roman', Times, serif;
$font-text: Arial, Helvetica, sans-serif;
