$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-background-card: #FAFAFA;
$color-background-section: #F6F6F6;
$color-dark: #CDCDCD;
$color-darkest: #292929;
$color-title: #545454;
$color-text: #4C4C4C;
$color-subscription: #B2B2B2;

$content-width: 1200px;
$help-list-breakpoint-width: 1160px;
$slider-breakpoint-width: 1020px;
$pre-tablet-width: 960px;
$footer-breakpoint-width: 810px;
$tablet-width: 768px;
$slider-buttons-breakpoint-width: 740px;
$burger-width: 650px;
$slider-items-breakpoint: 625px;
$help-list-mobile-breakpoint-width: 570px;
$pre-mobile-width: 500px;
$mobile-width: 320px;

$font-title: Georgia,serif;
$font-text: Arial, sans-serif;
