@mixin font($size,$height: $size){
    font-size: $size;
    line-height: $height;    
}


@mixin media-laptop{
    @media (max-width: $content-width){@content;}
}

@mixin media-help-list{
    @media (max-width: $help-list-breakpoint-width){@content;}
}

@mixin media-slider{
    @media (max-width: $slider-breakpoint-width){@content;}
}

@mixin media-pre-tablet{
    @media (max-width: $pre-tablet-width){@content;}
}

@mixin media-footer{
    @media (max-width: $footer-breakpoint-width){@content;}
}

@mixin media-tablet{
    @media (max-width: $tablet-width){@content;}
}


@mixin media-burger{
    @media (max-width: $burger-width){@content;}
}

@mixin media-mobile{
    @media (max-width: $mobile-width){@content;}
}