.header__container {
  padding-top: 4.7%;
  display: flex;
  justify-content: space-between;

  @include media-tablet{
    padding-top: 3.9%;
  }

  @include media-mobile{
    padding-top: 9.3%;
  }
}

.header__nav {
  width: 37%;
  padding: 6px 0 0 1px;

  @include media-laptop{
    width: 62.7%;
  }

  @include media-burger{
    display: none;
  }
}


.header__our-pets{
  .header__container{
    padding: 31px 0;
  }

  
}


.header__burger{
  display: flex;
  align-items: center;

  @include media-mobile{
    width: 24.3%;
  }
}