.gradient-background{
    background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),#211f20;
}


.layout-2-columns{
    display: flex;

    >*{
        flex-basis: 50%;
    }

    .not-only__info{
        flex-basis: 42%;
    }

    .about__image{
        flex-basis: 49.5%;
    }

    .donation__image{
        flex-basis: 59%;
    }
}

.layout-3-columns{
    display: flex;
    justify-content: space-between;
    >*{
        flex-basis: 24%;
    }

    .footer__location{
        flex-basis: 26%;
    }
}

.layout-4-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 930px;
    >*{
        flex-basis: 20%;
        
    }
}