.about__container {
  padding-top: 6.2%;
  padding-bottom: 7.8%;

  @include media-pre-tablet {
    padding-top: 8.5%;
    padding-bottom: 12.8%;
  }

  @include media-pre-mobile {
    padding-bottom: 13.8%;
  }
}

.about__layout {
  @include media-pre-tablet {
    flex-direction: column-reverse;
  }
}

.about__image {
  padding-left: 177px;

  img {
    width: 72%;

    @include media-pre-tablet {
      width: 100%;
    }

    @include media-pre-mobile {
      width: 86%;
    }
  }

  @include media-pre-tablet {
    margin: 0 auto;
    padding-top: 11%;
    padding-left: 0;
  }

  @include media-pre-mobile {
    padding-top: 14%;
    display: flex;
    justify-content: center;
  }
}

.about__info {
  padding-top: 16px;
}

.info__title {
  @include font($size: 3.5rem, $height: 4.55rem);
  font-family: $font-title;
  color: $color-title;
  padding-right: 38%;
  letter-spacing: 2.2px;

  @include media-pre-tablet {
    margin: 0 19.6%;
    text-align: left;
    width: 54%;
    padding-right: 0;
  }

  @include media-pre-mobile {
    @include font($size: 2.5rem, $height: 3.25rem);
    text-align: center;
    width: 74%;
    margin: 0 auto;
    letter-spacing: 1.6px;
  }
}

.info__text {
  margin-top: 25px;
  padding-right: 169px;
  @include font($size: 1.5rem, $height: 2.4rem);
  color: $color-text;

  @include media-pre-tablet {
    width: 61%;
    margin: 0 auto;
    margin-top: 3.5%;
    padding: 0;
  }

  @include media-pre-mobile {
    text-align: justify;
    width: 90.5%;
    margin-top: 7.5%;
  }
}
