.nav {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  @include font($size: 1.5rem, $height: 2.4rem);
  color: $color-dark;

  &_active {
    position: relative;
    color: $color-light;
    cursor: default;
    &::after {
      position: absolute;
      content: "";
      top: 24px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
    }
  }
}

.nav__link {
  @extend %transition;
  text-decoration: none;
  position: relative;
  color: $color-dark;
  &:hover {
    color: $color-background-card;
  }

  &::after {
    transition: all 0.1s;
    position: absolute;
    content: "";
    top: 23px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: $color-primary;
  }

  &:active {
    &::after {
      width: 100%;
    }
  }
}

.header__our-pets {
  .nav__item {
    cursor: pointer;
    color: $color-title;

    &_active {
      color: $color-darkest;
      cursor: default;
    }
  }
  .nav__link {
    color: inherit;
    cursor: inherit;
    &:hover {
      color: $color-darkest;
      text-shadow: 0px 0px 0px $color-darkest;
    }
  }
}
