.nav {
  display: flex;
  justify-content: space-between;

  @include media-burger{
    flex-direction: column;
    margin-top: 41%;
  }
}

.nav__item {
  @include font($size: 1.5rem, $height: 2.4rem);
  color: $color-dark;

  &_active {
    position: relative;
    color: $color-light;
    cursor: default;
    &::after {
      position: absolute;
      content: "";
      top: 24px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-primary;

      @include media-burger{
        width: 76%;
        left: auto;
        top: 51px;
      }
    }
  }

  @include media-burger{
    @include font($size: 3.2rem, $height: 5.12rem);
    display: flex;
    justify-content: center;
    margin-bottom: 41px
  }
}

.nav__link {
  @extend %transition;
  text-decoration: none;
  color: $color-dark;
  @include media-hover{
    &:hover {
    color: $color-background-card;
  }
  }
  
}

.header__our-pets {
  .nav__item {
    cursor: pointer;
    color: $color-title;

    

    &_active {
      color: $color-darkest;
      cursor: default;
    }
  }
  .nav__link {
    color: inherit;
    cursor: inherit;
    @include media-hover{
      &:hover {
        color: $color-darkest;
        text-shadow: 0px 0px 0px $color-darkest;
    }
    }
    
  }
}


.nav__logo{
  display: none;
  @include media-burger{
    display: block;
    padding: 25px 8px;
  }
}

.nav__background{
  opacity: 0;  
  visibility: hidden;
  position: fixed;
  @extend %transition;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
 
}