.nav{
    display: flex;
    justify-content: space-between;
}

.nav__item{    
    @include font($size: 1.5rem,$height: 2.4rem);
    color: $color-dark;

    &_active{
        position: relative;
        color: $color-light;
        cursor: default;
        &::after{
            position: absolute;
            content: '';
            top: 25px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $color-primary;
        }
    }

    
}

.nav__link{
    transition: color 0.3s ease;
    text-decoration: none;
    color: $color-light;
    &:hover{
        color: $color-primary;
    }
}