.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-slider-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.slider__button {
  min-width: 52px;
  height: 52px;
  background-color: $color-background-card;
  margin-top: 4px;

  &_left {
    @include media-slider-buttons {
      order: 1;
    }
  }

  &_right {
    @include media-slider-buttons {
      order: 2;
    }
  }

  @include media-slider-buttons {
    margin: 7.3% 13.3%;
  }
}

.slider__items {
  display: none;
  flex: 1;
  justify-content: space-around;

  &_active {
    display: flex;
  }

  @include media-slider-buttons {
    flex-basis: 100%;
  }
}

.slider__item {
  width: 270px;
  height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background-card;
  border-radius: 9px;
  cursor: pointer;

  @include media-hover {
    &:hover {
      .button {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
      }
    }
  }

  &:first-child {
    padding-left: 10px;
    @include media-pre-tablet {
      padding-left: 0;
      padding-right: 10px;
    }

    @include media-pre-mobile {
      padding-right: 0;
    }
  }

  &:nth-child(2) {
    @include media-pre-tablet {
      padding-left: 10px;
    }
    @include media-slider-items {
      display: none;
    }
  }

  &:nth-child(3) {
    padding-right: 10px;
    @include media-slider {
      display: none;
    }
  }
}

.item__image {
  width: 270px;
  height: 270px;
}

.item__name {
  font-family: $font-title;
  @include font($size: 2rem, $height: 2.272rem);
  text-align: center;
  letter-spacing: 1px;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.slider__items {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  &_active,
  &_next {
    display: flex;
  }
  &_next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &_to-left {
    animation-name: left;
  }

  &_to-right {
    animation-name: right;
    animation-direction: reverse;
  }

  &_from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  &_from-right {
    animation-name: right;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.item__name {
  font-family: $font-title;
  @include font($size: 2rem, $height: 2.272rem);
  text-align: center;
  letter-spacing: 1px;
}
