.about__container{
    padding: 79px 0 99px;
}

.about__image{
    flex-basis: 49.5%!important;
    padding-left: 177px;
}


.about__info{
    padding-top: 16px;
}

.info__title{
    @include font($size: 3.5rem,$height:4.55rem);
    font-family: $font-title;
    color: $color-title;
    padding-right: 239px;
    letter-spacing: 2px;
}

.info__text{
    margin-top: 25px;
    padding-right: 169px;
    @include font($size: 1.5rem,$height:2.4rem);
    color: $color-text;
}