.donation {
  background-color: $color-background-section;
}

.donation__container {
  padding-top: 79px;
  padding-bottom: 88px;

  @include media-tablet {
    padding-bottom: 95px;
  }

  @include media-pre-mobile {
    padding-top: 44px;
    padding-bottom: 40px;
  }
}

.donation__layout {
  flex-direction: row;
  @include media-tablet {
    flex-direction: column-reverse;
  }
}

.donation__image {
  text-align: end;
  padding-top: 10px;

  img {
    width: 78%;

    @include media-tablet {
      width: 72%;
    }

    @include media-pre-mobile {
      width: 87%;
    }
  }

  @include media-tablet {
    text-align: center;
    padding-top: 47px;
  }

  @include media-pre-mobile {
    padding-top: 31px;
  }
}

.donation__info {
  font-family: $font-title;
  color: $color-title;
  padding-left: 29px;

  @include media-tablet {
    width: 54%;
    margin: 0 auto;
    padding: 0;
  }

  @include media-slider-buttons {
    width: auto;
  }

  @include media-pre-mobile {
  }
}

.donation__title {
  width: 290px;
  @include font($size: 3.5rem, $height: 4.55rem);
  letter-spacing: 2px;

  @include media-pre-mobile {
    @include font($size: 2.5rem, $height: 3.25rem);
    text-align: center;
    width: 224px;
    margin: 0 auto;
    letter-spacing: 1.4px;
  }
}

.donation__text {
  @include font($size: 1.5rem, $height: 1.65rem);
  margin: 20px 0 18px;
  letter-spacing: 1px;

  @include media-pre-mobile {
    text-align: center;
    letter-spacing: 0;
    margin: 23px 0 23px;
  }
}

.text__type {
  letter-spacing: 0.9px;
  @include media-pre-mobile {
    letter-spacing: 0;
  }
}

.card {
  width: 349px;
  height: 43px;
  background-color: $color-primary;
  padding: 0 10px 0 15px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %transition;
  @include media-hover {
    &:hover {
      background-color: $color-primary-light;
    }
  }

  @include media-pre-mobile {
    width: 281px;
    margin: 0 auto;
    padding-right: 14px;
  }
}

.card__icon {
  width: 30px;
  height: 23px;
  background-image: url("../assets/icons/credit-card.svg");
}

.card__number {
  @include font($size: 2rem, $height: 2.3rem);
  letter-spacing: 1.3px;

  @include media-tablet {
    letter-spacing: 1.2px;
  }

  @include media-pre-mobile {
    @include font($size: 1.5rem, $height: 1.65rem);
    letter-spacing: 0.9px;
  }
}

.number__last-digits {
  letter-spacing: 2.2px;
  @include media-pre-mobile {
    letter-spacing: 1.4px;
  }
}

.donation__subscription {
  width: 363px;
  font-style: italic;
  font-family: $font-text;
  @include font($size: 1.2rem, $height: 1.8rem);

  color: $color-subscription;
  margin-top: 20px;

  @include media-pre-mobile {
    width: 280px;
    text-align: justify;
  }
}
