.help__container {
  padding-top: 78px;
  padding-bottom: 103px;

  @include media-pre-mobile {
    padding-top: 42px;
    padding-bottom: 40px;
  }
}

.help__title {
  @include font($size: 3.5rem, $height: 4.55rem);
  width: 358px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;

  @include media-pre-mobile {
    @include font($size: 2.5rem, $height: 3.25rem);
    width: 233px;
    letter-spacing: 1.5px;
  }
}

.help__title,
.service__text {
  font-family: $font-title;
  color: $color-title;
}

.help__service-list {
  height: 281px;
  display: flex;
  box-sizing: content-box;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;

  > * {
    margin: 0px 0px;
  }
  @include media-help-list {
    height: 448px;
  }

  @include media-mobile-help-list {
    height: 555px;
    justify-content: space-between;
    padding-top: 42px;
    row-gap: 15px;
  }
}

.service {
  margin: 0 5.1%;
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    margin: 0;
    flex-basis: 32.5%;
  }

  @include media-mobile-help-list {
    flex-basis: 47%;
  }

  @include media-pre-mobile {
    height: 87px;
  }
}

.service__image {
  width: 60px;
  height: 60px;

  &_food {
    background-image: url("../assets/icons/icon-pet-food.svg");
  }

  &_transportation {
    background-image: url("../assets/icons/icon-transportation.svg");
  }

  &_toys {
    background-image: url("../assets/icons/icon-toys.svg");
  }

  &_bowls {
    background-image: url("../assets/icons/icon-bowls-and-cups.svg");
  }

  &_shampoos {
    background-image: url("../assets/icons/icon-shampoos.svg");
  }

  &_vitamins {
    background-image: url("../assets/icons/icon-vitamins.svg");
  }

  &_medicine {
    background-image: url("../assets/icons/icon-medicines.svg");
  }

  &_collars {
    background-image: url("../assets/icons/icon-collars-leashes.svg");
  }

  &_sleep {
    background-image: url("../assets/icons/icon-sleeping-area.svg");
  }

  @include media-pre-mobile {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}

.service__text {
  @include font($size: 2rem, $height: 2.3rem);
  margin: 0;
  letter-spacing: 1px;

  @include media-pre-mobile {
    @include font($size: 1.5rem, $height: 1.65rem);
  }
}
