.pets{
    background-color: $color-background-section;
}

.pets__container{
    padding-top: 78px;

    @include media-pre-tablet{
        padding-top: 15.5%;
    }

}

.pets__title{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 61px;
}

.pets__title>*{
    font-family: $font-title;
    @include font($size: 3.5rem,$height: 4.55rem);
    color: $color-title;
    letter-spacing: 2px;
}


.pets__button{
    padding-top: 63px;
    padding-bottom: 102px;
    text-align: center;
}

